@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-gray-50 text-gray-900;
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* Some defensive rules */
img, svg {
  max-width: 100%;
  height: auto;
  max-height: 80vh;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 1rem;
}
