transformers
torch
tensorflow
scikit-learn
Pillow
pytesseract
PyMuPDF
google-generativeai
fastapi
uvicorn
perception
python-multipart
# Authentication dependencies
sqlalchemy
pyjwt
python-jose[cryptography]
passlib[bcrypt]
email-validator
python-multipart
rapidfuzz